.seccion-pregunta__encuesta {
  position: absolute;
  display: flex;
  width: 99vw;
  height: 20%;
  top: 0;
  margin: auto;
  background-color: rgb(234, 248, 227);
  border-radius: 10px;
  border: 2px solid green;
  align-items: center;
  justify-content: center;

  transition: all 1s ease;
}
