* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: sans-serif;
  overflow: hidden;
  
  background: radial-gradient(circle,
    rgb(85, 143, 85),
    rgb(7, 57, 7),
    rgb(7, 34, 7)
    
  );
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}

.fondo {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.435);
}